<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
    border: none;
    border-radius: 1.8rem;
    padding: 0 1rem 0 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }

  .btn-search i {
    display: inline;
    margin-right: 0.3rem;
  }

  .search-inp {
    border-radius: 1.8rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }

  .sidebar {
    position: fixed;
    top: 30px;
    left: -350px;
    height: 100%;
    width: 320px;
    background-color: #141e30;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    background-color: #243b55;
  }

  .navbar-brand .fa-regular {
    font-size: 30px;
    color: #fe424d;
    cursor: pointer;
  }

  .navbar.navbar-expanded .navbar-nav {
    visibility: hidden;
  }

  .active-sidebar {
    left: 0;
  }

  .container-fluid{
    font-size: 20px !important;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <%if(currUser){%>
    <a class="navbar-brand" href="#" onclick="toggleSidebar()">
      <i class="fa-regular fa-face-smile"></i>
    </a>
  <%}else{%>
    <a class="navbar-brand" href="#">
      <i class="fa-regular fa-face-smile"></i>
    </a> 
  <%}%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/home/main">Smile</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="/home/quiz">Test</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="/home/aboutUs">About Us</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="/home/help">Help</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations">
          <button class="btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currUser){ %>
          <a class="nav-link active" href="/signup"><b>SignUp</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<%if(currUser){%>
<div class="sidebar" id="sidebarMenu">
  <a href="#" style="border-radius: 90%;box-shadow: 5px 5px 5px 5px;">
    <i class="fa-regular fa-user" style="margin-left: 110px; font-size: 40px;"></i>
  </a>
  <br>
  <a href="#">@<%=currUser.username%></a>
  <a href="#"><%=currUser.email%></a>
  <a href="#"><%=currUser.address%></a>
  <a href="#"><%=currUser.contact%></a>
</div>
<%}else{%>

<%}%>

<script>
  function toggleSidebar() {
    const sidebar = document.getElementById("sidebarMenu");
    sidebar.classList.toggle("active-sidebar");
  }
</script>
