<% layout('layouts/boilerplate') -%>
    <div class="background">
      <header>
        <h1>Welcome to <span class="smile-highlight">SMILE</span></h1>
      </header>
      <section>
        <h2>CHOOSE YOUR MAP AND FIND YOUR PASSION</h2>
      </section>
      <main>
        <div class="roadmap-container">
          <div class="roadmap-card1" onclick="navigateTo('/home/aiml')">
            <span>AI & ML</span>
          </div>
          <div class="roadmap-card2" onclick="navigateTo('/home/cloud')">
            <span>Cloud Computing</span>
          </div>
          <div class="roadmap-card3" onclick="navigateTo('web3_blockchain.html')">
            <span>Web3 & Blockchain</span>
          </div>
          <div class="roadmap-card4" onclick="navigateTo('cybersecurity.html')">
            <span>Cybersecurity</span>
          </div>
        </div>
      </main>
    </div>
