<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Programming Quiz</title>
<link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
  <div class="container">
    <div id="homePage">
      <h1>Welcome to the Programming Quiz!</h1>
      <button onclick="startQuiz()">Start Quiz</button>
    </div>

    <div id="quizPage" class="hidden">
      <h1>Programming Quiz</h1>
      <form id="quizForm"></form>
      <button id="submitButton" class="hidden" onclick="submitQuiz()">Submit</button>
    </div>

    <div id="resultPage" class="hidden">
      <h2>Quiz Completed!</h2>
      <p>Your score: <span id="score"></span>/10</p>
      <button id="reattemptButton" onclick="reattemptQuiz()">Redo Quiz</button>
      <a href="/home"><button>Back to Home</button></a>
    </div>
  </div>
  <script src="/js/quiz.js"></script>
</body>
</html>
